@import url('https://fonts.googleapis.com/css?family=Aclonica|Aldrich|Anton|Barriecito|Carter+One|Caveat|Gruppo|Knewave|Lexend+Zetta|Love+Ya+Like+A+Sister|Permanent+Marker|Rock+Salt|Saira+Stencil+One|Special+Elite&display=swap');

header{
    height: 120px;
    font-family: 'Acme', sans-serif;    font-weight: bold;
    font-size: 50px;
    line-height: 40px;
    color: silver;
    text-align: left;
    padding: 10px;
}

.navbar {
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Gruppo';
}

h1 {
    /* font-family: 'Monoton', cursive; */
    font-family: 'Carter One', cursive;
}

body{
    background-color: black;
    /* font-family: 'Carter One', cursive; */
}

#Timer {
    font-family: 'digitalClock', sans-serif;
    font-size: 40px;
}

button {
    background-color: orange;
    border-width: 0px;
    margin: 10px;
}

footer{
    bottom: 0px;
    position: fixed;
    height: 20px;
    width: 100%;
    background-color: silver;
    text-align: center;
    font-size: 10px;
    color: black;
}

#pressToRestart {
    font-family: 'Acme', sans-serif;
    position: relative;
    top: 50px;
    font-size: 30px; 
    display: none;  
}

@media screen and (max-width: 979px){
    header { font-size: 40px; }
    #scoreBoardMsg { font-size: 30px;}
    #scoreBoard { font-size: 25px;
        line-height: 30px; }
    #gamesWon { font-size: 25px; }
    #gamesLost { font-size: 25px; }
    
}

@media screen and (max-width: 767px){
    header { font-size: 30px; }
    #subHeading { font-size: 15px; }
    #scoreBoardMsg { font-size: 20px;}
    #scoreBoard { font-size: 15px;
        line-height: 20px; }
    #gamesWon { font-size: 12px; }
    #gamesLost { font-size: 12px; }
    }     
    
@media screen and (max-width: 639px){
    header { font-size: 20px; }
    #scoreBoardMsg { font-size: 20px;}
    #scoreBoard { font-size: 15px;
                    line-height: 15px; }
    #gamesWon { font-size: 12px; }
    #gamesLost { font-size: 12px; }
}
